@model MessageOptionsViewModel


<style type="text/css">

    .hidden {
        display: none;
    }
</style>



<div class="row">
    <div style="min-height:1900px;border-style:solid;" class="col-lg-6">
        <div class="row">
            <div class="col-lg-12" style="min-height:100px;border-style:solid;background-color:#fd267d;">
                <div class="row">
                    <div class="col-lg-4" style="max-height:80px;max-width:80px;">
                        <a href='@Url.Action("Panel","Home")'>
                            <img alt="0" class="img-thumbnail" src=@Model.UserMainPhotoPath>
                        </a>
                    </div>
                    <div class="col-lg-8"> <label>@Model.UserName</label></div>
                </div>

            </div>


        </div>
        <div class="row">
            <form id="PairPanelForm" asp-action="PairPanel" asp-controller="Pair" method="get">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark" name="Pair">Pary</button>
                    <button type="button" class="btn btn-dark" name="Message">Wiadomości</button>
                    <input class="hidden" name="select" id="SelectP" />
                </div>
            </form>
        </div>

        @foreach (var item in Model.list)
        {
            <div class="row">

                <div class="col-lg-12">

                    <form class="ChooseReceiver" asp-action="WriteMessage" asp-controller="Message" method="post">
                        <div>
                            <label>@item.Name</label>
                        </div>
                        <img border="0" style="border-style:outset" alt=@item.Name class="" src=@item.ReceiverMainPhotoPath width="100" height="100">
                        <p>@item.MessageBeggining</p>
                        <input  type="hidden" value="@item.ReceiverId" name="ReceiverId" />
                    </form>
                    <hr />
                </div>
            </div>
        }


    </div>
    <div class="col-lg-6"></div>
</div>

<script>

    ///change View from Message to Pair

    $("button[name='Pair']").click(function () {
        $('#SelectP').val("Pair");
        $('#PairPanelForm').submit();
    });

    $("button[name='Message']").click(function () {
        $('#SelectP').val("Message");
        $('#PairPanelForm').submit();
    });

    /////

    ///Write Message
    $('form.ChooseReceiver').click(function ()
    {
        var data = {};
        var Id = $(this).find('input[name="ReceiverId"]').val();
        data["ReceiverId"] = Id;
       

        $.ajax({
     url: '@Url.Action("WriteMessage", "Message")',
     type: "post",
     contentType: 'application/x-www-form-urlencoded',
     data: data,
     headers: {
         RequestVerificationToken:
             $('input:hidden[name="__RequestVerificationToken"]').val()
     },
            success: function (result) {
               
         $("#MessageWritePage").html(result);
        

     }
 });
       

    });
       
    ///
   
    /////Send Message
    $(document).on('click', '#SendMessage', function () {        

        var message = {};
        var ReceiverId = $('#RId').val();
        var SenderId = $('#SId').val();
        var Text = $('#MText').val();
        message['ReceiverId'] = ReceiverId;
        message['SenderId'] = SenderId;
        message['MessageText'] = Text;


        $.ajax({
     url: '@Url.Action("SendMessage", "Message")',
     type: "post",
     contentType: 'application/x-www-form-urlencoded',
     data: message,
     headers: {
         RequestVerificationToken:
             $('input:hidden[name="__RequestVerificationToken"]').val()
     },
            success: function (result) {
                
         $("#MessageWritePage").html(result);
        

     }
 });
                     

    });
    ////
    //// Change Page

    $(document).on('click', '.page-link', function () {        


        var element = document.querySelector(" li.active a");
       
        var Data = {};
        var ReceiverId = $('#ReceiverIdChangePage').val();
        var MakeAction = $(this).text();
      
        Data['ReceiverId'] = ReceiverId;
        Data['MakeAction'] = MakeAction;
        Data['ActiveNumber'] = element.textContent;


        $.ajax({
     url: '@Url.Action("ChangePage", "Message")',
     type: "get",
     contentType: 'application/x-www-form-urlencoded',
     data: Data,
     headers: {
         RequestVerificationToken:
             $('input:hidden[name="__RequestVerificationToken"]').val()
     },
            success: function (result) {
                
         $("#MessageWritePage").html(result);
        

     }
 });
                     

    });



    ////
          

</script>