@model PairPartialViewModel


<link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps.css' />
<script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps-web.min.js'></script>
<style>
    #map {
        min-height: 200px;
        min-width: 200px;
        max-height: 430px;
        max-width: 750px;
    }
</style>
<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10" id='map'></div>
<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>


<script>

        var Lat = @Model.UserCoordinates.Latitude;
        var Lon = @Model.UserCoordinates.Longitude;

    var MyPosition = [Lon, Lat];



     var Lat2 = @Model.MatchCoordinates.Latitude;
        var Lon2 = @Model.MatchCoordinates.Longitude;

    var MatchPosition = [Lon2, Lat2];

        var map = tt.map({
            container: 'map',
            key: 'YKCJ1ZeW4GdxXOmONZi4UoSKOKpOTT4O',
            style: 'tomtom://vector/1/basic-main',
            center: MatchPosition,
            zoom: 15
        });


        var marker = new tt.Marker().setLngLat(MyPosition).addTo(map);
        var popupOffsets = {
            top: [0, 0],
            bottom: [0, -70],
            'bottom-right': [0, -70],
            'bottom-left': [0, -70],
            left: [25, -35],
            right: [-25, -35]
        }

        var popup = new tt.Popup({ offset: popupOffsets }).setHTML("Twoje Położenie");
        marker.setPopup(popup).togglePopup();





    var marker2 = new tt.Marker().setLngLat(MatchPosition).addTo(map);
    var popupOffsets2 = {
        top: [0, 0],
        bottom: [0, -70],
        'bottom-right': [0, -70],
        'bottom-left': [0, -70],
        left: [25, -35],
        right: [-25, -35]
    }

    var text="@Model.match.PairMail";
    var popup2 = new tt.Popup({ offset: popupOffsets2 }).setHTML(text);
    marker2.setPopup(popup2).togglePopup();



</script>


