@model SchedulerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SchedulerDetails</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-lg-3">
                <form asp-action="Logout" asp-controller="Account">
                    <div>
                        <button type="submit" class=" btn btn-warning">Wyloguj</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <form asp-action="ActionAllJobs" asp-controller="Email" method="post">
                    <div>
                        <input type="hidden" value="Start" name="Action" />
                        <button class="btn btn-info" type="submit">Start</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <form asp-action="ActionAllJobs" asp-controller="Email" method="post">
                    <div>
                        <input type="hidden" value="Stop" name="Action" />
                        <button class="btn btn-danger" type="submit">Stop</button>
                    </div>
                </form>
            </div>
            


        </div>




        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Wydarzenie</th>
                        <th scope="col">Grupa</th>
                        <th scope="col">Początek</th>
                        <th scope="col">Następny</th>
                        <th scope="col">Stan</th>
                        <th scope="col">Zakończono</th>
                        <th scope="col">Edytuj</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.schedulerList.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>

                            <td>@Model.schedulerList[i].JobName</td>
                            <td>@Model.schedulerList[i].Group</td>
                            <td>@Model.schedulerList[i].Start</td>
                            <td>@Model.schedulerList[i].NextStart</td>
                            <td>@Model.schedulerList[i].State</td>
                            @if (Model.schedulerList[i].End.ToString() == "0001 - 01 - 01 00:00:00")
                            {
                                <td>@Model.schedulerList[i].End</td>
                            }
                            else
                            {
                                <td>Brak  Danych</td>
                            }
                            <td>
                                <form asp-action="EditJob" asp-controller="Email" method="get">
                                    <input type="hidden" value="@Model.schedulerList[i].JobName" name="JobName" />
                                    <input type="hidden" value="@Model.schedulerList[i].Group" name="Group" />
                                    <input type="hidden" value="@Model.schedulerList[i].TriggerGroup" name="TriggerGroup" />
                                    <input type="hidden" value="@Model.schedulerList[i].TriggerName" name="TriggerName" />
                                    <button class="btn btn-info">Edytuj</button>
                                </form>


                            </td>



                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>



</body>
</html>
