@model UserSettingsModel


<style type="text/css">

    .box {
        background-color: #EBE9E9;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color:deeppink;
        /*#2196F3*/
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }




</style>



<div class="row">
    <div style="min-height:1900px;border-style:solid;" class="col-lg-6">
        <div class="row">
            <div class="col-lg-12" style="min-height:100px;border-style:solid;background-color:#fd267d;">
                <div class="row">
                    <div class="col-lg-4" style="max-height:80px;max-width:80px;">
                        <a href='@Url.Action("PairPanel","Pair")'>
                            <img alt="0" class="img-thumbnail" src=@Model.MainPhotoPath>
                        </a>
                    </div>



                    <div class="col-lg-6">
                        <label>@Model.Name  @Model.Surname</label>                     


                    <a class="btn btn-success" asp-action="EventActions" asp-controller="Event">Wydarzenia</a>
                </div>

            </div>



        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Dodatkowe Opcje</label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Dodatkowe Opcje Prenium</label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Liczba lików   @Model.Likes</label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Liczba super lików  @Model.SuperLikes     </label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Ustawienia</label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>@Model.Email</label>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <a asp-action="ChangePhoneNumber" asp-controller="Home" class="btn btn-primary"> @Model.PhoneNumber</a>
        </div>
        <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <label>Lokalizacja</label>   <h3 id="GeoLocation"></h3>
            <h3 id="GeoLocation2"></h3>
        </div>
        <div id="Map" class="box col-lg-12" style="min-height:100px;border-style:solid;">
            <div class="row">
                @Html.Partial("TomTomPartial", Model.Coordinates)
            </div>

        </div>
        <div class=" col-lg-12" style="min-height:50px;border-style:solid;">
           <div class="row">

                @*<a href='@Url.Action("StaticRoute","Home",new { Latitude1 = Model.Coordinates.Latitude, Longitude1 = Model.Coordinates.Longitude ,Latitude2 = Model.Coordinates.Latitude, Longitude2 = Model.Coordinates.Longitude })'>
                   <input  value="Nawiguj" class="btn btn-info" />
                </a>*@

            </div>


                    </div>
            <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
                <form id="DistanceForm" asp-action="SetDistance" asp-controller="Home" >
                    <div id="sliderD"></div>
                    <div class="row">

                        <label class="col col-lg-6 ">Odległość</label>

                        <input class="col col-lg-6 form-control" @*type="hidden" *@ asp-for="Distance" id="slideinputDistance" />

                    </div>


                </form>


            </div>
            <div class="box col-lg-12 " style="min-height:100px;border-style:solid;">
                <div class="row">
                    <div class="col col-lg-4"><label>Szukam</label></div>
                    <div class="col col-lg-2"></div>
                    <div class="col col-lg-6">
                        <form id="SetSearchSex" asp-action="SetSearchSex" asp-controller="Home">
                            <select id="SelectSex" asp-for="SearchSex" class="browser-default custom-select" style="max-width:100px">

                                <option value="Kobieta">Kobieta</option>
                                <option value="Mężczyzna">Mężczyzna</option>
                                <option value="Inne">Inne</option>
                            </select>

                        </form>
                    </div>
                </div>



            </div>
            <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
                <form id="AgeForm" asp-action="SetAge" asp-controller="Home" method="post">
                    <div id="sliderA"></div>
                    <div class="row">

                        <label class="col col-lg-6 ">Wiek</label>

                        <input class="col col-lg-6 form-control" @*type="hidden" *@ asp-for="SearchAge" id="slideinputAge" />

                    </div>


                </form>
            </div>
            <div class="box col-lg-12" style="min-height:100px;border-style:solid;">

                <form id="SetShowProfile" asp-action="SetShowProfile" method="post">
                    <label class="switch">
                        <input type="checkbox" asp-for="ShowProfile" class="inputShowProfile">
                <span class="slider"></span>
            </label>

                    


                    <label>Pokaż Profil</label>
                </form>


                @*<form id="SetShowProfile" asp-action="SetShowProfile" method="post">                

                    <input type="checkbox" asp-for="ShowProfile" class="inputShowProfile">

                    <label>Pokaż Profil</label>
                </form>*@







            </div>

            <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
                @*<form asp-action="Delete" asp-controller="Admin">
            <label class="switch">

            </label>

            <button class="btn btn-danger" type="submit">Usuń Konto</button>

        </form>*@

                <form asp-action="RemoveUserWithToken1" asp-controller="Admin" method="post">
                    <label class="switch">

                    </label>

                    <button class="btn btn-danger" type="submit">Usuń Konto</button>

                </form>


            </div>
            <div class="box col-lg-12" style="min-height:100px;border-style:solid;">
                <form asp-action="Logout" asp-controller="Account">
                    <label class="switch">

                    </label>
                    <button class="btn btn-warning" type="submit">Wyloguj</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>

<script>

   
          
    ///SearchAge
          
    $("#sliderA").slider({
        value: @Model.SearchAge,
        min: 18,
        max: 100,
        step: 1,
        slide: function (event, ui) {
                   
            $("#slideinputAge").val(ui.value).change();
        }
    });  


    $(document).on('change propertychange', '#slideinputAge', function () {      


        var form = $('#AgeForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("SetAge", "Home")',
               type: "post",
                data: {
                    __RequestVerificationToken: token,
                    Age: $("#slideinputAge").val()
                },
                success: function (result) {
                    
                   
                }
            });

    });


          
    //SearchDistance

    $("#sliderD").slider({
        value: @Model.Distance,
        min: 0,
        max: 100,
        step: 5,
        slide: function (event, ui) {
            //$("#slideDD").html(ui.value);           
            $("#slideinputDistance").val(ui.value).change();
        }
    });


    $(document).on('change propertychange', '#slideinputDistance', function () {
       
       
        var form = $('#DistanceForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("SetDistance", "Home")',
               type: "post",
                data: {
                    __RequestVerificationToken: token,
                    Distance: $("#slideinputDistance").val()
                },
                success: function (result) {
                    
                   
                }
            });
    });






    //SelectSex  



    $('#SelectSex').change(function () {
        var sex = $("#SelectSex option:selected").text();  
                            
       
        var form = $('#SetSearchSex');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: '@Url.Action("SetSearchSex", "Home")',
               type: "post",
                data: {
                    __RequestVerificationToken: token,
                    SearchSex: sex
                },
                success: function (result) {
                   
                   
                }
            });




    });




    //ShowProfile
    $(document).on('change propertychange', '.inputShowProfile', function ()
    {
        var checkShow=false;

        $('input:checkbox.inputShowProfile').each(function ()
        {
            
            if (this.checked)
            { 
                var val = $(this).val();
                checkShow = val;
            }           
        });



       
            var form = $('#SetShowProfile');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: '@Url.Action("SetShowProfile", "Home")',
               type: "post",
                data: {
                    __RequestVerificationToken: token,
                    Show: checkShow
                },
                success: function (result) {
                    
                   
                }
            });
           
        
    });


    //$(document).on('change propertychange', '#inputShowProfile', function () {
    //    $.post("/Home/SetShowProfile",
    //        {
    //            Show: $('#inputShowProfile').val(),
    //        }
    //        ,
    //        function (data, status) {

    //        });
    //});
    

   

    ///// Geolocation

   

   

    function showPosition(position) {
       

       
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        /////Added

        //$('#Latitude').val(latitude);
        //$('#Latitude').val(latitude);





        var text = latitude + " " + longitude;     
               
        fetch('https://nominatim.openstreetmap.org/reverse?format=geojson&lat=' + latitude + '&lon=' + longitude
        )
            .then((response) => {
                var x = response.json();
                return x;

            }).then
            ((dat) => {               

                if (dat.features[0].properties.address.city != null) {
                    text = dat.features[0].properties.address.city;
                }
                else if (dat.features[0].properties.address.village != null) {
                    text = dat.features[0].properties.address.village;
                }
                else if (dat.features[0].properties.address.town != null) {
                    text = dat.features[0].properties.address.town;
                }

                else {
                    $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {



                        var key = '40d73d471222945bade47359c39e9236';
                        var ip = data.ip;
                        fetch('http://api.ipstack.com/' + ip + '?access_key=' + key
                        )
                            .then((response) => {
                                var x = response.json();
                                return x;

                            }).then
                            ((dat) => {


                                var text = dat.city;
                                $("#GeoLocation2").empty();
                                $("#GeoLocation2").append(text);
                            })
                            ;




                    });
                }

                $("#GeoLocation2").empty();
                $("#GeoLocation2").append(text);
            });
                      
    }


    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
   


    getLocation();

   



</script>